node_modules
.env

# Text backup files
*.bak

# Database
*.sqlite3


# secure
# ``````
# - pip install python-decouple
# - create .env file
# - add all keys
# - from decouple import config (add in settings)
# - change to -> config('SECRET_KEY')

# Git
# ```
# git rm -r --cached db.sqlite3
# 