node_modules
main.js*
.env

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 
.idea/


# secure
# ``````
# - pip install python-decouple
# - create .env file
# - add all keys
# - from decouple import config (add in settings)
# - change to -> config('SECRET_KEY')

# Git
# ```
# git rm -r --cached db.sqlite3
# 